<div class="header">
  <div class="title">{{ element.id ?? "" }}</div>
  <mat-icon
    fontIcon="close"
    class="close-icon"
    (click)="onClosePanel()"
  ></mat-icon>
</div>

<div class="sub-title">{{ element.type ?? "" }}</div>

@if(element.type === "card") {
<mat-form-field class="select-layout">
  <mat-label>Layout Align</mat-label>
  <mat-select
    (selectionChange)="onAlignChange($event.value)"
    [value]="element.props?.['align']"
  >
    @for (option of alignOptions; track option.value) {
    <mat-option [value]="option.value">{{ option.label }}</mat-option>
    }
  </mat-select>
</mat-form-field>

} @if (element.type === "grid_view") {
<mat-form-field class="select-layout">
  <mat-label>Layout Column</mat-label>
  <mat-select
    (selectionChange)="onGridColChange($event.value)"
    [value]="element.props?.['column']"
  >
    @for (option of gridColumnOptions; track option.value) {
    <mat-option [value]="option.value">{{ option.label }}</mat-option>
    }
  </mat-select>
</mat-form-field>
}
