<div class="layout">
  <div class="left-icons">
    <mat-icon
      fontIcon="menu"
      (click)="onToggleMenu()"
      matTooltip="Toggle Menu"
    ></mat-icon>
    <span class="app-title">CUB Web Builder</span>
  </div>

  @if (editMode()) {
  <form [formGroup]="form">
    <div class="d-flex align-items-center">
      <input
        class="project-name-input"
        type="text"
        placeholder="Project Name"
        formControlName="name"
      />
      <mat-icon
        (click)="onChangeName()"
        fontIcon="check"
        matTooltip="Save Name Change"
      ></mat-icon>
      <mat-icon
        (click)="onCancelChangeName()"
        fontIcon="close"
        matTooltip="Cancel Name Change"
      ></mat-icon>
    </div>
  </form>
  } @else {
  <div class="d-flex align-items-center">
    <span class="project-name">{{ nameControl.value }}</span>
    <mat-icon
      (click)="onEdit()"
      fontIcon="edit"
      matTooltip="Edit Project Name"
    ></mat-icon>
  </div>
  }

  <div class="right-icons">
    <mat-icon
      (click)="onCheckList()"
      fontIcon="view_list"
      matTooltip="View All Project"
    ></mat-icon>
    <mat-icon
      (click)="onPrintRoot()"
      fontIcon="code"
      matTooltip="Print Root"
    ></mat-icon>
    <mat-icon
      (click)="onSave()"
      fontIcon="save"
      matTooltip="Save Project"
    ></mat-icon>
    <mat-icon
      (click)="onCreate()"
      fontIcon="add"
      matTooltip="Create New Project"
    ></mat-icon>
    <mat-icon
      (click)="onBuild()"
      fontIcon="build"
      matTooltip="Build Project"
    ></mat-icon>
    <mat-icon
      (click)="onProjectStatus()"
      fontIcon="info"
      matTooltip="Get Status"
    ></mat-icon>
    <mat-icon
      (click)="onDownload()"
      fontIcon="file_download"
      matTooltip="Download Project"
    ></mat-icon>
    <mat-icon
      (click)="onPreview()"
      fontIcon="preview"
      matTooltip="Preview Project"
    ></mat-icon>
  </div>
</div>
